@model ImDone.Protagonista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Protagonista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Protagonista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_protagonista)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_protagonista }) |
    @Html.ActionLink("Back to List", "Index")
</p>
