@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto Base de datos II // Programación Web I</h1>
    <p class="lead">Profesor: Delby Ismael Acosta</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Grupo 2 Base de Datos II</h2>
        <p>
            <ul>
                <li>Marco Marquez      - 2019-0029</li>
                <li>Nayeli Gonzales    - 2018-2254</li>
                <li>Fausto del Rosario - 2019-0197</li>
                <li>Diana Lora         - 2019-1037</li>
                <li>Jasy Martinez      - 2019-1043</li>
                <li>>>>>>>>César Brito - 2018-1510</li>
            </ul>
        </p>
        
    </div>
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        <h2>Grupo 4 Programación Web I</h2>
        <ul>
            <li>Laura Mesa - 2018-2403</li>
            <li>Diana Lora - 2019-1037</li>
            <li>Alejandra Martínez - 2019-0914</li>
            <li>César Brito - 2018-1510</li>
        </ul>
        <p></p>
    </div>
</div>