@model ImDone.Tanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tanda
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo_tanda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_tanda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
